@media screen and (max-width: 768px){
    .main-content-container{
        flex-direction: column;
        align-items:center;
    }
}
body{
    margin:0;
    background-color: #E3D4B9;
}
header img{
    height:45px;
    width:45px;
    border-radius: 50%;
    margin-right: 15px;
}
header{
    background-color: #4b3D2D;
    padding:8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
color:white;
text-align: center;
}
div a{
    color:white;
    margin: 0 15px;
    font-size: 10px;
}
.book-container{
    display:flex;
    gap:30px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.book-card{
    background-color: lightyellow;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px grey ;
}
.book-card:hover{
    transform: translateY(-4px);
}
.book-card img{
    width: 100%;
    height:230px;
   object-fit: cover;
    border-radius: 6px;
}
.book-title{
    font-size: 16px;
    margin-top: 8px;
}
.book-author{
    font-size: 13px;
}
.price{
    font-size: 15px;
        margin: 8px 0;
}
button {
    background-color: #4b3D2D;
    color:white;
    font-size: 13px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #e3b785;
}
footer{
    margin:0;
    background-color: #E3D4B9;
    text-align:centre;
    padding:15px 15px;
    margin-top:20px;
}