/* Main container */
.container-login-signup {
    width: 750px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: #f3eedc;
    border-radius: 15px;
    border: 1px solid burlywood;
    padding: 20px;
    gap: 20px;
}

/* Left form box */
.subcontainer {
    width: 60%;
}

/* Right image box */
.image-box {
    width: 40%;
    
    margin: 0;
    padding: 0;
    margin: 0px;
}

.image-box img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    /* image perfectly fit hoil */
    border-radius: 15px;
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left:-80px;
}

/* Inputs */
input[type="text"],
input[type="number"],
input[type="password"] {
    width: 60%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

/* Button */
.login-button {
    width: 65%;
    padding: 12px;
    background: #b5835a;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background: #8b5e3b;
}