.container-login-signup {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    height: 400px;
    width: 600px;
    margin: 100px;
    border: 1px solid rgb(181, 183, 184);
    border-radius: 10px;
    background-color: #C2B280;
    text-align: center;
    
}

.form:hover{
    border: 0.2px solid skyblue;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.login-signup-button {
    background-color: lightblue;
    padding: 6px 14px;
    border-radius: 10px;
    cursor: pointer;
    border: #b9b6b6;
    border: 1px solid rgb(181, 183, 184)
}

.login-signup-button:hover {
    background: #e3e3e3;
}