/* Main container */
.container-login-signup {
    width: 750px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: #C2B280;
    border-radius: 15px;
    border: 1px solid burlywood;
    gap: 0px;
}

/* Left form box */
.subcontainer {
    width: 400px;
    padding: 30px;
}

/* Right image box */
.image-box{
    margin-bottom:0px;
}

.img{
    border-radius: 0px 15px 15px 0px;
}

/* Inputs */
input[type="text"],
input[type="number"],
input[type="password"] {
    width: 60%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

/* Button */
.login-button {
    width: 200PX;
    height: 40PX;
    padding: 12px;
    background: #b5835a;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background: #8b5e3b;
}